* { box-sizing: border-box }

body {
    margin: 0; /* tek út sjálgefið 10px margin */
    /* font-family: ;*/
    font: 400 1em/1.5 'Open Sans','sans-serif'y; /* samsett skipun: weight/height, size, family */
    background-color: blue;
}
h1 {
    font-weight: 300;
    font-size: 2.5em;
}
blockquote{
    background:linear-gradient(blue,red);
    color: whitesmoke;
    padding: 1em
}
.container {
    max-width: 60em; /*960px = fartölvur*/
    margin: 0 auto; /* top+bottom og left+right */
    padding: 0;
}
.headcolor, .footcolor{
    color: #ffffff;
}
.margint{
    margin-top: 4em;

}
.bgcolor{
    background: linear-gradient(to top,red,blue);
    padding: 1em;
}
.bgcolor2{
    background: linear-gradient(to bottom,red,blue);
    padding: 1em;
}
/*
.vheight {
    height: 100vh;
}*/
.topnav a, .footnav a{
    color: bisque;
    text-decoration: none;
}
.topnav a:hover, .footnav a:hover{
    text-decoration: underline;
}
.topnav{
    margin-top: 3em;
}
.topnav{
    padding-left: 2em;
}
.topnav li, .footnav li{
    list-style-type: none;
}

.footnav li{
    list-style-type: none;
    line-height: 1.8;
}
.title{
    padding: 2em 0 0 0;
}

.footnav{
    padding: 0;
}
.innermenu{
    display: flex;
    justify-content:center;
}
.innermenu a{
    color: bisque;
    background-color: rgb(12,12,131);
    padding: .5em 1em;
    margin-top: 1em;
    text-decoration: none;
    border-right: 1px solid #fff;
}
.innermenu a:last-child {
    border: 0;
}
.innermenu a:hover, .innermenu a:active{
    color: rgb(12,12,131);
    background-color: bisque;
}
.topbutt{
    display:block ;
    position: fixed;
    bottom:2em;
    right: 2em;

    padding-bottom: 0.2em;
    border: 2px solid blue;
    color:blue;
    font-size: 1.5em;
    width:2em;
    border-radius: 100%;
    text-align: center;
    text-decoration: none;
    background-color: bisque;
}
.verkefni{
    text-align: right;
}.marginb{
    margin-bottom: -1em;
}

/* grid */
.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.col-3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.col-4 {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.gap-4 {
    grid-gap: 2em
}
